/*--Background--*/
*{
    margin: 0;
    padding: 0;
}

body{ 
    background-color: rgb(0, 0, 0);
    z-index: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.container-hexagon{
    position: fixed;
    z-index: 0;
    margin: -32px;
    padding: 0;
    margin-top: -17vh;
}

.row{
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
}

.row:nth-child(even){
    margin-left: 2px;
}

body .row:hover{
    box-shadow: 0px 0px 19px 15px #408EF3;
}

.hexagon{
    width: 100px;
    height: 110px;
    margin: 2px;
    background-color: rgb(19, 19, 19);
    clip-path: polygon(50% 0, 100% 25%,
    100% 75%, 50% 100%, 0% 75%, 0% 25%);
    animation: animation 4s linear infinite;
}

.hexagon:hover{
    box-shadow: 0px 0px 30px 15px #408EF3;
    background-color: #0f0;
    transition: 0s;
}

@keyframes animation {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.hexagon::after{
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    background-color: rgb(19, 19, 19);
    clip-path: polygon(50% 0, 100% 25%,
    100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.03);
    z-index: 3;
}

/*Fin du Background*/
/*-----------------*/

header {
    position: relative;
    z-index: 1;
    color: #e8ebef;
    font-family: 'Dancing Script', cursive;
    color: #e8ebef;
    margin-bottom: 3px;
    border: #e8ebef solid;
    width: 80vw;
    background-color: #ffffff30;
    backdrop-filter: blur(5px);
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    font-size: 20px;
    margin-right: 0%;
    
}

.navbar li {
    margin: 2px 0px 2px 0px;
}

.navbar li:first-child {
    margin-right: auto;
    margin-left: 8%;
}

.navbar li:last-child {
    margin-right: 100px;
}

li.home {
    padding-left: 2%;
}

/*Barrede recherche*/
.navbar li.search-bar {
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.second-search-bar{
    position: relative;
    z-index: 0;
    padding: 5px;
    border: 1px solid #ccc;
    visibility: hidden;
}

.navbar li.search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
}

.second-search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
}
.navbar li.search-bar button[type="submit"] {
    padding: 5px 10px;
    background-color: #20078f;
    color: white;
    border: none;
    cursor: pointer;
}
.second-search-bar button[type="submit"] {
    padding: 5px 10px;
    background-color: #20078f;
    color: white;
    border: none;
    cursor: pointer;
}

.navbar li.search-bar button[type="submit"]:hover {
    box-shadow: 0px 0px 19px 5px #b4bbc9c2;

}

.second-search-bar button[type="submit"]:hover {
    box-shadow: 0px 0px 19px 5px #b4bbc9c2;
}

a {
    text-decoration: none;
    color: #e8ebef;
}

a:active {
    color: rgb(11, 104, 243);
}

a:hover {
    color: rgb(11, 104, 243);
}


/* Informations de chaque Artist */

.ap {/*2ème  couche*/
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 30vh;
    width: 90vw;
    padding: 0%;
}

.containt {
    position: relative;
    margin-top: 5vh;
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-right: 65vw;
    margin-left: 10%;
    padding-top: 30px;
    padding: 0;
}

.containt img {
    width: 60%;
    margin-left: 05vw;
    margin-bottom: 0px;
}


.right {
    color: #fff;
    padding: 25px 40px;
    cursor: pointer;
}

.rightld .leftld {
    color: #fff;
    padding: 25px 40px;
    cursor: pointer;
}

h4 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h4:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: pink;
}

.infos {
    display: flex;
    margin: 0% 0% 0% 0%;
    padding: 0%;
}

.chambre2 {
    margin-left: 0;
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2px 10px;
    padding-bottom: 0%;
    z-index: -1;
}

.chambre2:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.contact-box {
    border-radius: 5px;
    max-width: 850px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    background-color: #ffffff30;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 20px 5px #87b0eec2;
    overflow: hidden;
    z-index: 0;
}
.contact-box .right p, ul{
    font-family: 'Times New Roman', Times, serif;
}

.right .rightld .leftld {
    color: #fff;
    padding: 25px 40px;
    cursor: pointer;
    
}

.right p, .rightld .leftld {
    font-family: 'Times New Roman';
    list-style: none;
    text-decoration: none;
}


h4 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h4:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: pink;
}
/* Locations & Dates */

.locat-date{
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
    padding: 3% 4%;
    color: #fff;
    position:relative;
    margin-left: 5vw;
    border-radius: 5px;
    max-width: 850px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    background-color: #ffffff30;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 20px 5px #87b0eec2;
    overflow: hidden;
    z-index: 0;
  }

/* Media Queries */

@media (max-width: 810px)
    {
    .navbar li {
        margin-left: 25px;
        margin-right: 15px;
        display: inline-block;
        justify-content: center;
    }

    body {
        width: 100%;
    }

    /* Div des informations par artist */
    .ap{
        padding: 0;
        margin-top: 3%
    }
    .infos {
        width: 100%;
        margin: 0;
    }
    .containt img{
        margin-right: 80vh;
        width:100%;
        min-width: 150px;
    }
    .chambre2 {
        padding: 10px 50px;
        margin: 0;
        font-size: 10px;
        display: grid;
    }

    .contact-box {
        width: 400px;
        margin-top: 0%;
    }
    .locat-date{
        width: 400px;
        margin-top: 2%;
        margin-left: 0;
        margin-right: 0px;
    }

    .right {
        padding: 15px 25px;
    }
        .right p, ul{
            font-size:16px
        }
    .rightld {
        padding: 0px;
        margin-right: -12px;
        font-size:14px;
    }
        .leftld{
            font-size: 16px;
            padding-left: 12px;
        }
    h4 {
        font-size: 16px;
    }
}

/* max-width: 587px */
@media (max-width: 587px){
.navbar li {
    margin-left: 10px;
    margin-right: 10px;
  }

  .navbar li:first-child {
    margin-left: 10;
    margin-right: 10px;
  }

  .navbar li.search-bar {
    font-size: 9px;
    width: 5vw;
    margin-bottom: 20px;
  }

.navbar li.search-bar input[type="text"] {
 font-size: 140%;
  width: 100%;
}

.navbar li.search-bar button[type="submit"] {
  font-size: 140%;
}

.navbar li.search-bar button[type="submit"]:hover {
  box-shadow: 0px 0px 19px 5px #b4bbc9c2;
}
    .containt img{
        margin-right: 0vh;
        width:100%;
        min-width: 150px;
    }
    
    .chambre2 {
        padding: 10px 50px;
        margin: 0;
        font-size: 10px;
        display: grid;
    }

    .contact-box {
        width: 100%;
        margin-top: 0%;
    }
    .locat-date{
        width: 90%;
        margin-top: 2%;
    }

    .right {
        padding: 15px 25px;
    }
        .right p, ul{
            font-size:16px
        }
    .rightld {
        padding: 0px;
        margin-right: -12px;
        font-size:14px;
    }
        .leftld{
            font-size: 16px;
            padding-left: 12px;
        }
    h4 {
        font-size: 16px;
    }
    
    
}
/*screen 448*/
@media (max-width: 448px){
    .navbar li.search-bar {
    font-size: 8px;
    width: 9vw;
    margin-bottom: 20px;
  }
}

@media (max-width: 426px) {
    .navbar li.search-bar {
        display: none;
    }
    .second-search-bar{
        clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
        background-color: #ffffff30;
        align-items: center;
        text-align: center;
        visibility: visible;
        margin-left:13vw ;
        margin-right:11vw ;
        margin-top: 9px;
        margin-bottom: -20px;
        z-index: 1;
    }
    
}

