<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/notFound.css">
  <title>Error 500 - Server not match</title>
  <link rel="shortcut icon" href="/css/images/triangle-exclamation-solid.svg" type="images/svg">
</head>
<body><div class="err">
    <h1>Error 500</br>Internal</br>Server</h1>
</div>
  <p>Sorry, the server not match.</p>
  <a href="javascript:history.back()">
    <p>Go back to the previous page</p>
  </a>
</body>
</html>