
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/notFound.css?v=1.1" />
  <title>Error {{ .Code }} - {{ .Warning }}</title>
  <link rel="shortcut icon" href="/css/images/triangle-exclamation-solid.svg" type="images/svg">

</head>

<body>
  <!-- BACKGROUND -->
  <div class="container-hexagon">
    {{template "design"}}
    {{template "design"}}
    </div>
  </div> 
  <!-- FIN DU BACKGROUND -->
  
  <div class="err">
    <h1>
      Error<br>
      {{ .Code }}
    </h1>
  </div>
  <p>{{ .Message }}</p>
  <a href="javascript:history.back()">
    <p>Go back to the previous page</p>
  </a>
</body>

</html>
